<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<page id="Page@5479786:1507739285744" name="Start" version="6.0.1">
<element height="46" id="Element@29204480:1507739285744" name="Start Of Call" start_of_call="true" type="Page Entry" width="113" x="230" y="30">
<exit_states>
<exit_state name="next" target="Element@10171442:1507739516751"/>
</exit_states>
</element>
<element height="46" id="Element@10171442:1507739516751" name="CVP Subdialog Start_03" src="com.audium.server.voiceElement.internal.CiscoSubdialogStartElement" type="Subdialog Start" width="172" x="205" y="118">
<exit_states>
<exit_state name="done" target="Element@30339369:1507745537335"/>
</exit_states>
</element>
<element height="46" id="Element@30339369:1507745537335" name="Load DNIS Properties" src="com.ss.custom.SSPropertiesAction" type="Action Element" width="173" x="446" y="121">
<exit_states>
<exit_state name="done" target="Element@26074745:1507748600723"/>
</exit_states>
</element>
<element height="46" id="Element@29834392:1507745762085" name="StoreGreeting" src="com.ss.report.elements.SSReportAudio" type="Voice Element" width="152" x="720" y="281">
<exit_states>
<exit_state name="done" target="Element@12441748:1507912492588"/>
</exit_states>
</element>
<element height="46" id="Element@26074745:1507748600723" name="Report IVR Call" src="com.ss.report.elements.SSReportIVRCallAction" type="Action Element" width="160" x="708" y="129">
<exit_states>
<exit_state name="done" target="Element@20373050:1507911962682"/>
</exit_states>
</element>
<element height="46" id="Element@26454413:1507748633135" name="Language_DM" skipped="true" src="com.ss.report.elements.SSReportForm" type="Voice Element" width="148" x="919" y="463">
<exit_states>
<exit_state name="done"/>
<exit_state name="max_nomatch"/>
<exit_state name="max_noinput"/>
</exit_states>
</element>
<element height="46" id="Element@31339603:1507748741343" name="BroadcastMessage" src="com.ss.report.elements.SSReportAudio" type="Voice Element" width="152" x="480" y="500">
<exit_states>
<exit_state name="done" target="Element@29534058:1507846849495"/>
</exit_states>
</element>
<element height="46" id="Element@13880401:1507805430487" name="SS Menu Update Decision_01" skipped="true" src="com.ss.report.elements.SSReportMenuUpdateDecision" type="Decision Element" width="202" x="903" y="529">
<exit_states>
<exit_state name="done" target="Element@764185:1507912302571"/>
<exit_state name="max_nomatch" target="Element@764185:1507912302571"/>
<exit_state name="max_noinput" target="Element@764185:1507912302571"/>
</exit_states>
</element>
<element height="46" id="Element@23614223:1507827409676" name="AnotherTFN" src="com.ss.report.elements.SSReportForm" type="Voice Element" width="148" x="478" y="726">
<exit_states>
<exit_state name="done" target="Element@31628615:1507838510268"/>
<exit_state name="max_nomatch" target="Element@31628615:1507838510268"/>
<exit_state name="max_noinput" target="Element@31628615:1507838510268"/>
</exit_states>
</element>
<element height="46" id="Element@31353483:1507827497227" name="NewPatient" type="Page Connector" width="111" x="738" y="639">
<page_connector target="Element@20150870:1507827440948">NewPatient<config/>
</page_connector>
</element>
<element height="46" id="Element@31628615:1507838510268" name="Decision_01" type="Decision" width="112" x="740" y="718">
<exit_states>
<exit_state name="Yes" target="Element@31353483:1507827497227"/>
<exit_state name="No" target="Element@20098937:1507842469720"/>
</exit_states>
</element>
<element height="46" id="Element@20098937:1507842469720" name="DefaultPatient" type="Page Connector" width="125" x="907" y="719">
<page_connector target="Element@1839018:1507838529635">DefaultPatient<config/>
</page_connector>
</element>
<element height="46" id="Element@29534058:1507846849495" name="ANI CELL Lookup" src="com.audium.server.action.database.DatabaseAction" type="Action Element" width="142" x="64" y="297">
<exit_states>
<exit_state name="done" target="Element@9611204:1507924908120"/>
</exit_states>
</element>
<element height="46" id="Element@4640187:1507851633133" name="FoundCell" type="Decision" width="112" x="180" y="472">
<exit_states>
<exit_state name="FoundCell" target="Element@22357445:1507851935321"/>
<exit_state name="NoCell" target="Element@5901095:1507851773836"/>
</exit_states>
</element>
<element height="46" id="Element@5901095:1507851773836" name="ANI Home Lookup" src="com.audium.server.action.database.DatabaseAction" type="Action Element" width="191" x="84" y="569">
<exit_states>
<exit_state name="done" target="Element@33226629:1507851816727"/>
</exit_states>
</element>
<element height="46" id="Element@33226629:1507851816727" name="FoundHome" type="Decision" width="153" x="100" y="652">
<exit_states>
<exit_state name="FoundHome" target="Element@26418322:1507852193698"/>
<exit_state name="NoHome" target="Element@23614223:1507827409676"/>
</exit_states>
</element>
<element height="46" id="Element@22357445:1507851935321" name="SetCallerCell" src="com.audium.server.action.setvalue.SetValueAction" type="Action Element" width="116" x="300" y="522">
<exit_states>
<exit_state name="done" target="Element@31353483:1507827497227"/>
</exit_states>
</element>
<element height="46" id="Element@26418322:1507852193698" name="SetCallerPOTS" src="com.audium.server.action.setvalue.SetValueAction" type="Action Element" width="162" x="366" y="650">
<exit_states>
<exit_state name="done" target="Element@31353483:1507827497227"/>
</exit_states>
</element>
<element height="46" id="Element@20373050:1507911962682" name="StoreLookup" src="com.audium.server.action.database.DatabaseAction" type="Action Element" width="191" x="687" y="204">
<exit_states>
<exit_state name="done" target="Element@29834392:1507745762085"/>
</exit_states>
</element>
<element height="46" id="Element@764185:1507912302571" name="PlayBCMsg" type="Decision" width="112" x="395" y="295">
<exit_states>
<exit_state name="PlayBC" target="Element@31339603:1507748741343"/>
<exit_state name="NoPlayBC" target="Element@29534058:1507846849495"/>
</exit_states>
</element>
<element height="46" id="Element@12441748:1507912492588" name="MDCaller" type="Decision" width="112" x="746" y="380">
<exit_states>
<exit_state name="MDCaller" target="Element@7875880:1507912579230"/>
<exit_state name="PatientCaller" target="Element@764185:1507912302571"/>
</exit_states>
</element>
<element height="46" id="Element@7875880:1507912579230" name="DefaultMD" type="Page Connector" width="107" x="954" y="383">
<page_connector target="Element@24198874:1507911381836">DefaultMD<config/>
</page_connector>
</element>
<element height="46" id="Element@9611204:1507924908120" name="TestEmail" skipped="true" src="com.audium.server.action.email.EmailAction" type="Action Element" width="101" x="27" y="449">
<exit_states>
<exit_state name="done" target="Element@32876715:1507925258855"/>
</exit_states>
</element>
<element height="46" id="Element@32876715:1507925258855" name="TestSMS" skipped="true" src="com.ss.custom.SendSMSDecision" type="Decision Element" width="119" x="-6" y="514">
<exit_states>
<exit_state name="Success" target="Element@4640187:1507851633133"/>
<exit_state name="Failure" target="Element@4640187:1507851633133">
<bendpoint>
<dim1 x="100" y="1"/>
<dim2 x="-83" y="43"/>
</bendpoint>
</exit_state>
</exit_states>
</element>
<element height="46" id="Element@3717717:1507985521791" name="noresource" type="Hotevent" width="116" x="1009" y="171">
<exit_states>
<exit_state name="goto" target="Element@25710184:1507985532463"/>
</exit_states>
</element>
<element height="46" id="Element@29699497:1507985521791" name="CallerHangup" type="Hotevent" width="123" x="997" y="97">
<exit_states>
<exit_state name="goto" target="Element@25710184:1507985532463"/>
</exit_states>
</element>
<element height="46" id="Element@5329081:1507985521791" name="badfetch" type="Hotevent" width="116" x="1012" y="231">
<exit_states>
<exit_state name="goto" target="Element@25710184:1507985532463"/>
</exit_states>
</element>
<element height="46" id="Element@25710184:1507985532463" name="End" type="Page Connector" width="70" x="1205" y="176">
<page_connector target="Element@31314917:1507827265674">End<config/>
</page_connector>
</element>
<element height="46" id="Element@8755359:1507988980524" name="ConnectionHangup" skipped="true" type="Hotevent" width="155" x="1154" y="92">
<exit_states>
<exit_state name="goto" target="Element@25710184:1507985532463"/>
</exit_states>
</element>
</page>
